* {
  box-sizing: border-box;
  font-family: sans-serif;
  transition: color 250ms;
  transition: background-color 250ms;
}

:root {
  --background: white;
  --text-primary: black;
  --text-secondary: royalblue;
  --accent: #FF4C29;
  --overlay: #ffffffbf;
}

[data-theme="dark"] {
  --background: #2C394B;
  --text-primary: white;
  --text-secondary: grey;
  --accent: #FF4C29;
  --overlay: #474747bf;
}

html {
  * {
    scrollbar-width: auto;
    scrollbar-color: #b0b0b0 #ffffff;
  }

  *::-webkit-scrollbar {
    width: 12px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #b0b0b0;
    border-radius: 90px;
    border: 3px solid #ffffff;
  }
}
