.container {
  & > *:not(:last-child) {
    margin-bottom: 16px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 24px;

  .action {
    display: flex;
    align-items: center;

    & > *:not(:last-child) {
      margin-right: 24px;
    }
  }
}
