.root {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--overlay);

  .message {
    margin-top: 32px;
  }
}
