name: Node Github CI

on:
  push:
    branches:
      - frontend
jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: SSH and deploy node app
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          password: ${{ secrets.SSH_PASSWORD }}
          script: |
            cd ~/chapel
            git checkout frontend
            git pull
            cd client
            npm i
            npm run build
            npm run preview --host
